.root {
    flex-grow: 1;
    padding: 24px;
}

.box-title-heroes {
    background: #80808014;
    display: flex;
    text-align: left;
    padding: 24px;
    margin-bottom: 12px;
    border-radius: 10px;
    justify-content: space-between;
    font-weight: 600 !important;
    align-items: center;
}

.box-heroes {
    display: flex;
    text-align: left;
    padding: 12px 0px;
    border-bottom: 1px solid #f0f0f0;
}

.title-box-heroes {
    color: #000;
    font-weight: 600 !important;
}

.filterName {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

.filterPower{
 justify-content: space-between;
}

.img-heroes {
    border-radius: 5px;
    width: 250px;
    height: 300px;
}

.infos-heroes {
    padding: 0px 10px 0px 0px;
}

.button-veja-mais {
    background: #09f !important;
    color: #fff !important;
    margin-top: 12px !important;
}