.header-seach {
    background-image: url('../assets/bg.jpg');
    text-align: center;
    padding: 10px;
}

.search-form {
    padding: 24px;
    display: flex;
    justify-content: center;
}

.button-search {
    background: #09f !important;
    color: #fff !important;
    margin-left: 12px !important;
    height: 100%;
}